APP_NAME="Super Todo List"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

# Database Configuration
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

# JWT Configuration
JWT_SECRET=PmZGTjSLf8zXHnUhVekzZUVcvnkxaGeGyvuEhRuGXxkCLtj6wEiuPOYyHgjTmfQY
JWT_TTL=60
JWT_REFRESH_TTL=20160
JWT_ALGO=HS256

# Mail Configuration
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"